.important{
  color: maroon;
}

.unimportant{
  color: blue;
}

.emphasis{
  background-color: goldenrod;
}

img{
  float: left;
  width: 25%;
}

.sidebar{
  float: left;
  background-color: aquamarine;
  width: 30%;
}

.column{
  width: 350px;
  float: left;
}